@import "./variables";

/* relationships/_follow_button ================================ */
.btn_follow {
  position: relative;
}

.btn_follow .submit {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: .3em 1em;
  border-radius: 20px;
  transition: .8s;
  position: absolute;
  width: 120px;
  height: 40px;
}

.following .submit:nth-child(1) {
  background-color: $base-color;
  border-color: $base-color;
  color: #FFF;
}
.following .submit:nth-child(2) {
  background-color: #fff;
  border: 2px solid $base-color;
  color: $base-color;
}
.following:hover .submit:nth-child(2) {
  display: none;
}

.followed .submit:nth-child(1) {
  background-color: #D91F2D;
  border-color: #D91F2D;
  color: #FFF;
}
.followed .submit:nth-child(2) {
  background-color: $base-color;
  border-color: $base-color;
  color: #FFF;
}
.followed:hover .submit:nth-child(2) {
  display: none;
}

/* 各ページフォローボタン調整 ================================ */
.users-index .btn_follow .submit,
.user-show .follow_user .btn_follow .submit {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.user-show .user-button .btn_follow .submit {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
