// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* relationships/_follow_button ================================ */
.btn_follow {
  position: relative;
}

.btn_follow .submit {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: .3em 1em;
  border-radius: 20px;
  transition: .8s;
  position: absolute;
  width: 120px;
  height: 40px;
}

.following .submit:nth-child(1) {
  background-color: #4DA1FF;
  border-color: #4DA1FF;
  color: #FFF;
}
.following .submit:nth-child(2) {
  background-color: #fff;
  border: 2px solid #4DA1FF;
  color: #4DA1FF;
}
.following:hover .submit:nth-child(2) {
  display: none;
}

.followed .submit:nth-child(1) {
  background-color: #D91F2D;
  border-color: #D91F2D;
  color: #FFF;
}
.followed .submit:nth-child(2) {
  background-color: #4DA1FF;
  border-color: #4DA1FF;
  color: #FFF;
}
.followed:hover .submit:nth-child(2) {
  display: none;
}

/* 各ページフォローボタン調整 ================================ */
.users-index .btn_follow .submit {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.user-show .btn_follow .submit {
  left: 50%;
  transform: translateX(-50%);
}
