@import "./variables";

/* users/index ================================ */
.users-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.users-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  // display: table;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-name a {
  font-weight: 600;
}

.user-name a:hover {
  color: $base-color;
}

.user-left {
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

@media screen and (max-width:479px) {
  .users-heading {
    font-size: 30px;
  }
  .users-index-item {
    padding: 15px 10px;
  }
  .user-left img {
    width: 40px;
    height: 40px;
  }
}

/* users/show ================================ */
.user-show,
.user-follow {
  text-align: center;
}

.user {
  // margin-bottom: 20px;
}

.user img {
  width: 120px;
  height: 120px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.user h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.user p {
  font-size: 13px;
  margin-bottom: 15px;
}

.user a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
}

.user span {
  color: #afb6bf;
  font-weight: 200;
  padding: 0 6px 0 8px;
}

.follow-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  // padding: 15px 10px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-follows {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-follows li a {
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  padding: 16px 30px;
}

.user-button {
  flex: 1;
}

.user-tabs {
  display: flex;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-tabs li {
  flex: 1;
}

.user-tabs li.active,
.user-follows li.active {
  border-bottom: 2px solid $base-color;
}

.user-tabs li.active a,
.user-follows li.active a {
  color: #57575f;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

@media screen and (max-width:479px) {
  .user-follows {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
  }
  .user-follows li a {
    padding: 3px 10px;
  }
  .user-tabs a {
    display: inline-block;
    padding: 13px 30px;
    color: #afb6bf;
  }
}

/* users/new, users/edit ================================ */
.users-form input {
  margin-bottom: 15px;
}